* {
      padding: 0 !important;
      margin: 0 !important;
      box-sizing: border-box !important;
}

a {
      text-decoration: none;
      display: inline-block;
      color: black;
}

ul {
      list-style: none;
}
