* {
      padding: 0 !important;
      margin: 0 !important;
      box-sizing: border-box !important;
}

a {
      text-decoration: none;
      display: inline-block;
      color: black;
}

ul {
      list-style: none;
}

button,
input[type="submit"],
input[type="button"] {
      // cursor: pointer;
      // background-color: $brand-color;
      // color: $white;
      // padding: $y-padding * 2 $x-padding * 5 !important;
      // @include shape-setup();
      // font-weight: bold;
      @include btn(
            $bg-color: $brand-color,
            $color: $white,
            $xpd: $x-padding,
            $ypd: $y-padding,
            $fwght: normal
      );
}
