/* Colors */
$white: #fafafa;
$black: #18181b;

$black-gray: #3f3f46;
$white-gray: #d4d4d8;

$brand-color: #f59e0b;

$main-blue: #1d4ed8;

/* Spacing */

$basic-width: 700px;

$screen: 1200px;

$first-height: 17px;

$y-padding: 5px;
$x-padding: 7px;

$y-margin: 5px;
$x-margin: 7px;
