/* Colors */
$white: #fafafa;
$black: #18181b;

$black-gray: #3f3f46;
$white-gray: #d4d4d8;

$brand-color: #f59e0b;

$main-blue: #1d4ed8;

/* Spacing */

$basic-width: 700px;
$basic-height: 150px;

$screen: 1200px;

$first-height: 17px;
$first-width: 37px;

$y-padding: 5px;
$x-padding: 7px;

$y-margin: 5px;
$x-margin: 7px;

$padding: 5px;
$margin: 5px;

$y-between-margin: $y-margin * 9;

/* Borders */

$border-radius: 3px;
