.input-field {
      padding: $y-padding * 2 $x-padding !important;
      @include shape-setup();
      border: 1px solid rgba($black-gray, 0.5);
      &:focus {
            outline: none;
            border: 1px solid rgba($black-gray, 0.7);
      }
}

.form-field {
      margin-bottom: $y-margin * 7 !important;

      input[type="search"],
      input[type="password"],
      input[type="email"],
      input[type="text"] {
            margin-top: $y-margin * 2 !important;
            display: block;
            width: 100%;
            @extend .input-field;
      }
}

.form {
      @include center($basic-width);
      padding: 2rem !important;
      fieldset {
            border: none;
      }
      @extend .form-field;
}

img {
      &.img-logo {
            height: 70px;
      }
}
